* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  /* Menambahkan warna latar belakang hitam ke navigasi atas */
  .topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Memberi gaya tautan di dalam bilah navigasi */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
  }
  
  /* Mengubah warna tautan saat mengarahkan kursor */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Menambahkan kelas aktif untuk menyorot halaman saat ini */
  .topnav a.active {
    background-color: #91C8E4;
    color: white;
  }
  
  /* Sembunyikan tautan yang seharusnya membuka dan menutup topnav di layar kecil */
  .topnav .icon {
    display: none;
  }
  /* Jika lebar layar kurang dari 600 piksel, sembunyikan semua tautan, kecuali yang pertama ("Beranda"). Tampilkan link yang berisi harus membuka dan menutup topnav (.icon) */
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* Kelas "responsif" ditambahkan ke topnav dengan JavaScript ketika pengguna mengklik ikon. Kelas ini membuat topnav terlihat bagus di layar kecil (menampilkan tautan secara vertikal, bukan horizontal) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  .thirdsection {
    display: flex;
    flex-direction: column;
  }
  .schoolact {
    font-weight: bold;
    font-size: 80px;
    text-align: center;
    color: white;
  }
  .items {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }
  .item {
    background-color: #78C1F3;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 20%;
    height: 400px;
  }
  .portrait {
    max-width: 100%;
    max-height: 100%;
  }
  .item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  .item p {
    display: flex;
  }
  .textcent {
    margin-left: 20px;
    margin-right: 20px;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1 {
    color: #333;
    margin-bottom: 60px;
    margin: 50px;
}
iframe {
    width: 80%;
    height: 500px;
}
body {
    background-color: #78C1F3;
}